body{
    font-size: 'Open Sans', sans-serif;
    color: #174377;
    font-size: 16px;
    margin: 0;
}

h1{
    font-family: 'Asap Condensed', sans-serif;
}

h2{
    font-family: 'Asap Condensed', sans-serif;
    font-size: 40px;
    font-stretch: condensed;
    font-weight: bold;
}

p{
    line-height: 1.7em;
}

